<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Maruti Seeds Corporation </title>
	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="/static/css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" href="/about/">About</a>
				 </li>
				  <li class="nav-item">
					<a class="nav-link" href="/services/">Products</a>
				 </li>
                  
                  <li class="nav-item">
                     <a class="nav-link" href="/contact/">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">About
			</h1>
		</div>
	</div>
    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item active">About us</li>
			</ol>
		</div>
		<!-- About Content -->
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="/static/images/Farmer.png" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>About Maruti Seeds</h2>
					<p>India is a land of highly fertile soils having a capability to support diversified productions in agricultural sector. More than 50 percent of our population being engaged in agriculture and allied activities, we have a potential of becoming the leader in agricultural productions. </p>
					<p>Though we have a good resource availability, we lack in the processing sector due to the orthodox nature of our population. The requirement of present is the adoption of change. This change can be brought into action by working in a way to fulfil the desires of farmers while heading in a direction towards modern farming.</p>
					<p>Maruti hybrid Seeds with it’ s vision of improvement has been able to make a huge impact on seed industry. The success of farmers is the first step towards building a healthy nation and we are highly focused on meeting the desires of the modern farmers. Our motive is to provide the best quality hybrid seeds that can give best results in diversified soil conditions.</p>
					<p>We deal in a variety of products ranging from silages to fodders, certified fodder seeds and high quality hybrid seeds. Maruti hybrid seeds are also committed to the adoption of best conditions for product development and manufacture. </p><hr>
				</div>
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="/static/images/processing.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>Seed Processing Unit</h2>
					<p>Processing of seeds is done based on the one or more differing physical characters of seed(i.e.) seed size, length, weight, shape, surface, texture, colour. </p>
				</div>
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="/static/images/quality.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>Quality Assurance</h2>
					<p>The objective of the quality control is to guarantee that the quality of the seeds we deliver is in line with IARI (Indian Agriculture Research Institute).
						Next to the germination, vigour, purity and moisture tests performed on the seeds for sowing </p>
				</div>
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="/static/images/seed production.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>Seed Production</h2>
					<p>Trial fields in the  seed sector are key to test the newly developed varieties before their commercialisation and the new selections in order to improve and renew our stockseeds which will be used for future production campaigns
						Trial field are also an important opportunity to invite customers to a guided tour and to verify the quality of our offer together on the field. </p>
				</div>
			</div>
			<!-- /.row -->
		</div>

		<!-- /.container -->
	</div>

    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
		</div>
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="/static/images/MB.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy;  <a href="#">Maruti Seeds Corporation</a> Developed By : 
				<a href="https://raghavdassinghal.github.io/" target="_blank">Raghav Das Singhal</a>
            </p>
            <ul class="social_footer_ul">
				<li><a href="https://www.facebook.com/Maruti-Beej-105416534611902/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCzqnNTLS9C6zlGcK8t7R5mg" target="_blank"><i class="fab fa-youtube"></i></a></li>
					</ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
