<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Maruti Seeds Corporation </title>
	<!-- Bootstrap core CSS -->
   <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/static/css/circle.css">
	<!-- Fontawesome CSS -->
	<link href="/static/css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/about/">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/services/">Products</a>
                  </li>
                  
                  <li class="nav-item">
                     <a class="nav-link" href="/contact/">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
    <header class="slider-main">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
               <!-- Slide One - Set the background image for this slide in the line below -->
               <div class="carousel-item active" style="background-image: url('/static/images/maruti.png')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>Welcome to Maruti Seeds Corporation</h3>
                     <p>A Great Theme For Seeds</p>
                  </div>
               </div>
               <!-- Slide Two - Set the background image for this slide in the line below -->
               <div class="carousel-item" style="background-image: url('/static/images/bg2.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>Welcome to Maruti Seeds Corporation</h3>
                     <p>A Great Theme For Seeds</p>
                  </div>
               </div>
               <!-- Slide Three - Set the background image for this slide in the line below -->
               <div class="carousel-item" style="background-image: url('/static/images/bg3.jpg')">
                  <div class="carousel-caption d-none d-md-block">
                     <h3>Welcome to Maruti Seeds Corporation</h3>
                     <p>A Great Theme For Seeds</p>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">
        <div class="services-bar">
           <h1 class="my-4">Maruti Seeds Corporation</h1>
            <p class="my-4">Maruti hybrid Seeds with it’ s vision of improvement has been able to make a huge impact on seed industry. The success of farmers is the first step towards building a healthy nation and we are highly focused on meeting the desires of the modern farmers. Our motive is to provide the best quality hybrid seeds that can give best results in diversified soil conditions. </p>
            <!-- Services Section -->
            <div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header"><center>Best Company</center></h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/seeds5.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Maruti Seeds Corporation an indian seed company, is highly commited to give a real value and always work for quality.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header"><center>Picking the Best</center></h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/seeds4.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">The Seeds are produced by highly qualified and experienced Production Team with a focus to get high genetiic purity and excellent germination.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header"><center>Great Quality</center></h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/seeds6.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">The Quality is always our unchanging principle. The seeds received from the production centres are subject to seed processing and quality assessment.</p>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- About Section -->
        <div class="about-main">
            <div class="row">
               <div class="col-lg-6">
                  <h2>Welcome to Maruti Seeds Corporation</h2>
                  <p>We deal in a variety of products ranging from silages to fodders, certified fodder seeds and high quality hybrid seeds. </p>
                  <h5>Our smart approach</h5>
                  <ul>
                     <li>We develop the products that are best suited for the varying growth conditions of the country.</li>
                     <li>What makes us different is that our product development is customer oriented. </li>
                     <li>Maruti hybrid seeds are also committed to the adoption of best conditions for product development and manufacture. </li>
                     <li>Agriculture is a way of life in our country and good quality seeds are its’s foundation.</li>
                     <li>The farmer needs the best quality seeds that can suit the conditions of his field and give best output.</li>
                  </ul>
               </div>
               <div class="col-lg-6">
                  <img class="img-fluid rounded" src="/static/images/seed1.jpg" alt="" />
               </div>
               <div>
                  <div class="row">
                  <div class="col-lg-4 mb-4">
                     <div class = "c100 p100 green">
                        <span>200+</span>
                        <div class="slice">
                           <div class="bar"></div>
                           <div class="fill"></div>
                        </div>
                     </div>
                     <h1>Distributor across india</h1>
                  </div>
                  <div class="col-lg-4 mb-4">
                     <div class = "c100 p100 green">
                        <span>30+</span>
                        <div class="slice">
                           <div class="bar"></div>
                           <div class="fill"></div>
                        </div>
                     </div>
                     <h1>Year's Experience</h1> 
                  </div>
                  <div class="col-lg-4 mb-4">
                     <div class = "c100 p100 green">
                        <span>20+</span>
                        <div class="slice">
                           <div class="bar"></div>
                           <div class="fill"></div>
                        </div>
                     </div>
                     <h1>States Covered</h1>
                  </div>
                  </div>
               </div>
            </div>
        </div>
        <hr>  
    </div>
    
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            
			</div>
		</div>
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="/static/images/MB.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy;  <a href="#">Maruti Seeds Corporation</a> Developed By : 
               <a href="https://raghavdassinghal.github.io/" target="_blank">Raghav Das Singhal</a>
               </p>

            <ul class="social_footer_ul">
               <li><a href="https://www.facebook.com/Maruti-Beej-105416534611902/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
               <li><a href="https://www.youtube.com/channel/UCzqnNTLS9C6zlGcK8t7R5mg" target="_blank"><i class="fab fa-youtube"></i></a></li>
                     </ul>

        </div>
    </footer>
	  
<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>