<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Maruti Seeds Corporation </title>
	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="/static/css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/about/">About</a>
				 </li>
				  <li class="nav-item">
					<a class="nav-link active" href="/services/">Products</a>
				 </li>
                  
                  <li class="nav-item">
                     <a class="nav-link" href="/contact/">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>

	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Products
			</h1>
		</div>
	</div>
	
    <!-- Page Content -->
    <div class="container">
		<div class="breadcrumb-main">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item active">Products</li>
			</ol>
		</div>

		<!-- Services Section -->
		<div class="services-bar">
			<!-- Services Section -->
			<h4 class="my-4">SESAMUM </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">MT - 175 Pragati</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/MT 175.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Medium size white seeded,
							branched, moderately tolerant to
							diseases. Cultivation : Kharif
							Season. </p>
                     </div>
                     <div class="card-footer">
                        
                     </div>
                  </div>
			   </div>
			</div>
			<h4 class="my-4">Mustard </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Aastha</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/Aastha.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : High yielding early maturity
							hybrid with attractive grain color.
							Cultivation : Rabi Season.</p>
                     </div>
                     <div class="card-footer">
                     </div>
                  </div>
			   </div>
			   <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Chamatkar</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Chamatkar.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : Early Duration 105-120
						days, medium tall height (200-220 cm)
						Cultivation : Rabi Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			 <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Maya</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Maya.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : Early maturity, High
						Yielding , High Oil Content (41-42%),
						and Medium Bold Grains. Cultivation :
						Rabi Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			 <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Aashirwad</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Aashirwad.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : Long main shoot, attractive
						siliqua, oil content 41-42%, Bold grain
						size Cultivation : Rabi Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			 <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Kala Moti</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Kala Moti.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : High yielding hybrid
						medium maturity hybrid, 125 -130
						days maturity period with bold grains
						and high pod density. Cultivation :
						Rabi Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			 <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Kala Moti Gold</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Kala Moti Gold.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : A high yielding medium
						maturity hybrid with bold grain and
						better oil percentage. Cultivation :
						Rabi Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			</div>
			<h4 class="my-4">MOONG </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Hara Sona</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/Moong.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Short stature, early
							maturing (75-80 days), shining green
							bold seeds, tolerant to MYMV, CLS
							and BLS. Cultivation : Kharif Season .</p>
                     </div>
                     <div class="card-footer">
                     </div>
                  </div>
			   </div>
			</div>
			<h4 class="my-4">WHEAT </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Maruti Beej Raj-4037</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/Wheat.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Irrigated, High Fertility,
							Timely Sown, High Protein Content
							Cultivation : Rabi Season.</p>
                     </div>
                     <div class="card-footer"> 
                     </div>
				  </div>
				</div>
				  <div class="col-lg-4 mb-4">
					<div class="card h-100">
					   <h4 class="card-header">Maruti Beej Raj-3765</h4>
					   <div class="card-img">
						  <img class="img-fluid" src="/static/images/Wheat.jpg" alt="" />
					   </div>
					   <div class="card-body">
						  <p class="card-text">Features : Irrigated, Medium Fertility,
							Late Sown Cultivation : Rabi Season.</p>
					   </div>
					   <div class="card-footer"> 
					   </div>
					</div>
				</div>
					<div class="col-lg-4 mb-4">
						<div class="card h-100">
						   <h4 class="card-header">Maruti Beej Lok-1</h4>
						   <div class="card-img">
							  <img class="img-fluid" src="/static/images/Wheat.jpg" alt="" />
						   </div>
						   <div class="card-body">
							  <p class="card-text">Features : Irrigated, High Fertility,
								Timely Sown Cultivation : Rabi Season.</p>
						   </div>
						   <div class="card-footer"> 
						   </div>
						</div>
					</div>
			   </div>
			</div>
			<h4 class="my-4">SSG </h4>
			<div class="row">
				<div class="col-lg-4 mb-4">
				   <div class="card h-100">
					  <h4 class="card-header">Karishma</h4>
					  <div class="card-img">
						 <img class="img-fluid" src="/static/images/ssg.jpg" alt="" />
					  </div>
					  <div class="card-body">
						 <p class="card-text">Features : Good for green fodder and
							dry kutti, Rapid Growth of the plant
							Cultivation : Kharif Season.</p>
					  </div>
					  <div class="card-footer">
					  </div>
				   </div>
				</div>
			 </div>
			<h4 class="my-4">BAJRI </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Karishma</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/Bajri.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Cattle Fodder, rapid
							growth, healthy for cattles Cultivation :
							Kharif Season.</p>
                     </div>
                     <div class="card-footer">
                        
                     </div>
                  </div>
			   </div>
			</div>
			<h4 class="my-4">Pulses </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Moong</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/Pulses.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Short stature, early
							maturing (75-80 days), shining green
							bold seeds, tolerant to MYMV, CLS
							and BLS. Cultivation : Kharif Season.</p>
                     </div>
                     <div class="card-footer">
                     </div>
                  </div>
			   </div>
			   <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Moth</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Pulses.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : Short stature, nonspreading variety with synchronous
						maturity. Cultivation : Kharif Season .</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			 <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Cowpea</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Pulses.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : Suitable for both seed and
						fodder purpose. It matures in 67-70
						days. Cultivation : Kharif Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			 <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Arhar</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Pulses.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : It matures in 145 Days,
						medium tall, erect plant. Cultivation :
						Kharif Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			 <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Masoor</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Pulses.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : Medium Size Kernel, Ratua
						Resistent, Medium Plant Height.
						Cultivation : Kharif Season.</p>
				   </div>
				   <div class="card-footer">
				   </div>
				</div>
			 </div>
			</div>
			<h4 class="my-4">BARLEY </h4> </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Maruti Beej</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/Wheat.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Irrigated, High yield, Rust
							resistant, Timely Sown Cultivation :
							Rabi Season.</p>
                     </div>
                     <div class="card-footer">
                        
                     </div>
                  </div>
			   </div>
			</div>
			<h4 class="my-4">BENGAL GRAM </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Maruti Beej Gram</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/bg.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features :It is a drought resistant
							variety. The seeds are semi-spreading
							type and brown in colour. The variety
							matures in about in 154-158 days and
							yields on an average about 21-25
							quintals per hectare. Cultivation : Rabi
							Season .</p>
                     </div>
                     <div class="card-footer">
                        
                     </div>
                  </div>
			   </div>
			</div>
			<h4 class="my-4">JAI </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Maruti Jai</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/jai.jpeg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : It is a multi-cut variety.
							Plants are tall with profuse tillering and
							leafy growth. Cultivation : Rabi Season.</p>
                     </div>
                     <div class="card-footer">
                        
                     </div>
                  </div>
			   </div>
			</div>
			<h4 class="my-4">GUAR </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Maruti Beej RGC-936</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/Guar.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Plants are profusely
							branched, Early Maturity, Medium
							Plant height Cultivation : Kharif 
							Season.</p>
                     </div>
                     <div class="card-footer"> 
                     </div>
                  </div>
			   </div>
			   <div class="col-lg-4 mb-4">
				<div class="card h-100">
				   <h4 class="card-header">Maruti Beej RGC-986</h4>
				   <div class="card-img">
					  <img class="img-fluid" src="/static/images/Guar.jpg" alt="" />
				   </div>
				   <div class="card-body">
					  <p class="card-text">Features : High Yield, Medium
						Maturity, Green Fodder Cultivation :
						Kharif Season.</p>
				   </div>
				   <div class="card-footer"> 
				   </div>
				</div>
			 </div>
			</div>
			<h4 class="my-4">DHAINCHA(Sesbania) </h4>
			<div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Dhaincha</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="/static/images/dhaincha.jpg" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Features : Bold seeded variety having
							quick growth. It give high level of
							tolerance to sodic, saline and waterlogged sodic soils. Ready to harvest in
							120 days. .</p>
                     </div>
                     <div class="card-footer">
                        
                     </div>
                  </div>
			   </div>
			</div>
		</div>


    </div>
    <!-- /.container -->

    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            
		</div>
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="/static/images/MB.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy;  <a href="#">Maruti Seeds Corporation</a> Developed By : 
				<a href="https://raghavdassinghal.github.io/" target="_blank">Raghav Das Singhal</a>
            </p>
            <ul class="social_footer_ul">
				<li><a href="https://www.facebook.com/Maruti-Beej-105416534611902/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCzqnNTLS9C6zlGcK8t7R5mg" target="_blank"><i class="fab fa-youtube"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
